.FlexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    padding: 10px;
    width: 70%;
    min-width: 300px;
}
.Radio {
    border: 20px solid lightcoral;
    align-content: center;
    text-align: justify;
    width: 75%;
    min-width: 300px;
    padding: 10px 10px;
    margin: 10px 10px 20px;
    box-shadow: 2px 2px 5px black;
    background-color: white;
}
.Radio p {
    column-width: 10%;
    font-weight: bold;
    font-size: 22px;
    word-wrap: break-word;
}
.Btn {
    padding: 5px;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}
